.git
.gitignore
**/.git
**/node_modules
**/.next
**/build
**/.gradle
**/out
**/.env
**/.env.*
!**/.env.example
frontend/test-results
frontend/playwright-report
SVMessengerMobile
NewServerConfig
frontend/.next
*.md
!frontend/README.md
hs_err_pid*.log
