.feature-section {
    padding: 60px 0;
}

.feature-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    height: 250px; /* фиксирана височина за контейнерите */
}

.feature-box:hover {
    transform: translateY(-10px); /* Леко вдигане на картинките при hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feature-img-container {
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #06b6d4; /* Стилна рамка под снимката */
    height: 120px; /* Фиксирана височина за снимката */
}

.feature-image {
    width: 35%;
    height: 150%;
    object-fit: cover; /* Уверяваме се, че снимката ще покрие напълно контейнера */
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.feature-text-container {
    padding: 15px;
    height: 130px; /* За да се балансира с височината на снимката */
    overflow: hidden;
}

.feature-title {
    font-size: 1.2rem;
    color: #06b6d4; /* Тюркоазено */
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-text {
    font-size: 1rem;
    color: #374151; /* Тъмно сиво */
    line-height: 1.4;
    height: 60px; /* Ограничаваме височината на текста */
    overflow: hidden;
}

.feature-box:hover .feature-image {
    transform: scale(1.05); /* Леко уголемяване на картинката при hover */
}

@media (max-width: 767px) {
    .feature-title {
        font-size: 1.1rem;
    }

    .feature-text {
        font-size: 0.95rem;
    }
}
